*{

  margin: 0px;
  padding: 0px;
}


div#general{

margin:auto;
margin-top:50px;
width:960px;
height:3000px;
background-color:rgb(128, 36, 0);
}

div#forma2{

float: right;
width:300px;
height:3000px;
background-color:yellow;
border:4px solid black;

}

div#forma3 {

  
  width:500px;
  height:3000px;
  background-color:rgb(255, 145, 0);
  border:4px solid black;

}
div#forma4 {

margin-top:50px;
width:500px;
height:200px;
background-color:rgb(255, 145, 0);
border:4px solid black;

}

div#forma5 {

margin-top:50px;
width:500px;
height:200px;
background-color:rgb(255, 145, 0);
border:4px solid black;

}
div#forma6 {

margin-top:50px;
width:500px;
height:200px;
background-color:rgb(255, 145, 0);
border:4px solid black;

}
h2{

  text-align: center;
}